@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	color: white;
}

.full-page-container{
	background-image: url("images/mountain.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center center;
	padding: 0 2.6rem;
}

.grid{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 20vh 20vh 20vh 30vh 10vh;
}

#c2{
	background-image:url("images/no-mountain2.jpg");
	height: 100vh;
}

#text-container-1{
	
	grid-area: 3 / 1 / span 1/ span 5
}



h1{
	font-size:2.8rem;
	margin-top:0;
	margin-bottom: .3rem;
	
	opacity: 0;
	transition: all 1s ease;
	transform: translateY(-50px);
}

h1.fade{
	opacity:1;
	transform: translateY(0px);
}

span{
	font-size:1.7rem;
}

/* Cursor */
.txt{
	border-right: 0.2rem solid #777;
}

#arrow-container{
	grid-area: -2 / 3 ;
	text-align:center;
	
}

#homepage-down-arrow{
  outline: none;
  border: none;
  background-color: rgba(255,255,255,.2);
  border-radius: 50%;
  
	opacity: 0;
	transition: all 1s ease;
	transform: translateY(-20px);
}

#homepage-down-arrow.fade{
	opacity: 1;
	transform: translateY(0);
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 13px;
}

.up {
  margin: 0 5px 10px 5px;
  transform: rotate(-135deg);
}

.down {
  margin: 0 5px 10px 5px;
  transform: rotate(45deg);
}

#text-container-2{
	grid-area: 2 / 1 / span 1 / span 5;
	text-align:center;
}

#mini-container{
	background-image:none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(5, 20%);
	grid-template-rows: 15vh 20vh 20vh 20vh 20vh;
	background-color: rgb(214,213,208);
	order: -1;
}

#homepage-question{
	opacity: 1;
	color: black;
}

#choices{
	grid-area: 2 / 1 / span 3 / span 5;
	/*background-color: white;*/
	display: flex;
	justify-content: space-between;
	align-items:center;
}

img.polaroid {
  width: 30%;
  height: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact-info{
	grid-area: -2 / 1 / span 1 / span 5;
	text-align:center;
	color:  black;
}

a{
	text-decoration: none;
	color: white;
}

img{
	margin-top:15px;
}

@media(max-width: 800px) {
	h1{
		font-size:2.3rem;
	}
	
	span{
		font-size:1.3rem;
	}
	
	img.polaroid {
		width: 30%;
		height: 50%;
	}
}

@media(max-width: 500px) {
	.full-page-container{
		padding: 0 1.5rem
	}
	h1{
		font-size:2rem;
	}
	
	span{
		font-size:1rem;
	}
	
}
