@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	color: white;
	background-image: url("images/no-mountain2.jpg");
}

/* container that fills 100% of the viewport (100vh)*/
.full-page-container{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 20vh 20vh 20vh 30vh 10vh;
	background-image: url("images/mountain.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center center;
	padding: 0 2.6rem;
}

/* Keep the heading and span on the homepage in this text container so text is not
   pushed up if the typing effect goes onto another line */
#text-container-1{
	grid-area: 3 / 1 / span 1/ span 5
}


h1{
	font-size:2.8rem;
	
}

#greeting{
	margin-top:0;
	margin-bottom: .3rem;
	opacity: 0;
	transition: all 1s ease;
	transform: translateY(-50px);
}

#greeting.fade{
	opacity:1;
	transform: translateY(0px);
}

span{
	font-size:1.7rem;
}

/* Cursor */
.txt{
	border-right: 0.2rem solid #777;
}

/* -----------------Homepage navigation arrow--------------------------------*/

#arrow-container{
	grid-area: -2 / 3 ;
	text-align:center;
	
}

#homepage-down-arrow{
  outline: none;
  border: none;
  background-color: rgba(255,255,255,.2);
  border-radius: 50%;
  
	opacity: 0;
	transition: all 1s ease;
	transform: translateY(-20px);
}

#homepage-down-arrow.fade{
	opacity: 1;
	transform: translateY(0);
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 13px;
}

.up {
  margin: 0 5px 10px 5px;
  transform: rotate(-135deg);
}

.down {
  margin: 0 5px 10px 5px;
  transform: rotate(45deg);
}

/* -----------------------end of arrow-----------------------------------*/

section{
	text-align: center;
}

#mini-container{
	min-height:90vh;
	margin: 0 2rem;
	margin-bottom: 10vh;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content:space-around;
	background-color: rgb(214,213,208);
}

#homepage-question{
	color: black;
	margin-top: 3.5rem;
}

#choices{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items:center;
	margin-bottom: 2rem;
	width:100%;
}

.polaroid-parent{
	position:relative;
	display:inline;
	margin:1rem;
	width: 25vw;
	height: 40vh;
}

/* The link that is positioned over the image */
.polaroid-container{
	position:absolute;
	left:0;
	z-index:1;
	width: inherit;
	height: inherit;
}

/* The image with a polaroid effect */
img.polaroid {
	/*margin:1rem;*/
	width: inherit;
	height: inherit;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all .5s ease;
	position:absolute;
	left:0;
}

/* When the container is hovered over, increase the size of the image */
.polaroid-container:hover ~ img.polaroid{
	transform: scale(1.1, 1.1);
}

/* The text over each image */
.title{
	color: white;
	text-shadow: 0 0 5px black;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#contact-info{
	display:flex;
	align-items: baseline;
	color:  black;
	margin-bottom: 1rem;
}

#contact-text{
	/*margin-right: 2rem;*/
	color: black;
	/*white-space: pre;*/
}

a{
	text-decoration: none;
	color: white;
}

#linkedin{
	width:30px;
	height:30px;
	transition: all .5s ease;
}

#linkedin:hover{
	transform: scale(1.1);
}

@media(max-width: 900px) {
	h1{
		font-size:2.3rem;
	}
	
	span{
		font-size:1.3rem;
	}
	
	.polaroid-parent {
		width: 40vw;
		height: 40vh;
	}
}

@media(max-width: 500px) {
	/* Make the image bigger */
	.polaroid-parent {
		width: 60vh;
		height: 40vh;
		
	}
	
	#choices {
		flex-direction: column;
	}
	
	
	
	.full-page-container{
		padding: 0 1.5rem
	}
	h1{
		font-size:2rem;
	}
	
	span{
		font-size:1rem;
	}
	
	/* move the homepage container down */
	#homepage-question{
		margin-top: 3.5rem;
	}
}
