@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

html{
	scroll-behavior:smooth;
}

body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	color: white;
	background-image: url("images/no-mountain2.jpg");
}

/* container that fills 100% of the viewport (100vh)*/
.full-page-container{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 20vh 20vh 20vh 30vh 10vh;
	background-image: url("images/mountain.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center center;
	padding: 0 2.6rem;
}

/* Keep the heading and span on the homepage in this text container so text is not
   pushed up if the typing effect goes onto another line */
#text-container-1{
	grid-area: 3 / 1 / span 1/ span 5
}


h1{
	font-size:2.8rem;
	
}

#greeting{
	margin-top:0;
	margin-bottom: .3rem;
	opacity: 0;
	transition: all .5s ease;
	transform: translateY(-50px);
}

#greeting.fade{
	opacity:1;
	transform: translateY(0px);
}

span{
	font-size:1.7rem;
}

/* Cursor */
.txt{
	border-right: 0.2rem solid #777;
}

/* -----------------Homepage navigation arrow--------------------------------*/

#arrow-container{
	grid-area: -2 / 3 ;
	text-align:center;
	
}

#homepage-down-arrow{
  outline: none;
  border: none;
  background-color: rgba(255,255,255,.2);
  border-radius: 50%;
  
	opacity: 0;
	transition: all 1s ease;
	transform: translateY(-20px);
}

#homepage-down-arrow.fade{
	opacity: 1;
	transform: translateY(0);
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 13px;
}

.up {
  margin: 0 5px 10px 5px;
  transform: rotate(-135deg);
}

.down {
  margin: 0 5px 10px 5px;
  transform: rotate(45deg);
}

/* -----------------------end of arrow-----------------------------------*/

section{
	text-align: center;
}

#mini-container{
	min-height:90vh;
	margin: 0 2rem;
	margin-bottom: 10vh;
	display: flex;
	flex-direction: column;
	align-items:center;
	background-color: rgb(214,213,208);
}

#homepage-question{
	color: black;
	margin-top: 3.5rem;
}

#choices{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items:center;
	margin-bottom: 20px;
	width:100%;
}

.polaroid-parent{
	position:relative;
	display:inline-block;
	margin:1rem;
	width: 300px;
	height: 300px;
	overflow:hidden;
	box-shadow: 5px 5px 10px rgba(0,0,0,.4);

	opacity: 0;
	transition: all 1.2s ease;
	transform: translateY(-20px);
}

.polaroid-parent.fade{
	opacity: 1;
	transform: translateY(0);
}

/* The link that is positioned over the image */
.polaroid-container{
	position:absolute;
	left:0;
	z-index:1;
	width: inherit;
	height: inherit;
}

/* The image with a polaroid effect */
img.polaroid {
	/*margin:1rem;*/
	width: inherit;
	height: inherit;
	transition: all .5s ease-out;
	position:absolute;
	left:0;
}

/* When the container is hovered over, increase the size of the image */
.polaroid-container:hover ~ img.polaroid{
	transform: scale(1.1, 1.1);
}

/* The text over each image */
.title{
	color: white;
	font-size: 2.7em;
	text-shadow: 0 0 5px black;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#contact-text{
	/*margin-right: 2rem;*/
	color: black;
	/*white-space: pre;*/
}

a{
	text-decoration: none;
	color: white;
}

#linkedin{
	width:40px;
	height:40px;
	transition: all .5s ease;
}

#linkedin:hover{
	transform: scale(1.1);
}

/*************************************************************/
/* Projects page styles */
/*************************************************************/

.collapsibleContainer{
	width: 90%;
	margin-bottom:50px;
}

#sideProjs{
	margin-bottom:50px;
}

.collapsible{
	background-color: white;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 22px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
	background-color: #ccc;
}

.content {
	color:black;
	width:100%;
	box-sizing: border-box;
	padding: 0 18px;
	overflow: hidden;
	background-color: #f1f1f1;
	max-height: 0;
	transition: max-height .2s ease-out;
	/*text-align: center;*/
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

ul{
	list-style-type: none;
	margin-top: 0;
	padding: 0;
}

li{
	border-bottom: 1px black solid;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.titleAndImage{
	width: 225px;
	text-align: center;
}

.liText{
	text-align: left;
	flex-grow: 1;
	width: 200px;
}

h2{
	margin-bottom: 5px;
}

.links{
	color: blue;
	font-size: 1rem;
	text-align: center;
	margin-top: 24px;
}

/* The span that comes immediately after a link */
.links + span{
	color: black;
	font-size: 16px;
}

.description{
	font-size: 1rem;
	margin-top: 5px;
}

.screenshot{
	height:200px;
	width:200px;
}

/*************************************************************/
/* Media Queries */
/*************************************************************/

@media(max-width: 900px) {
	h1{
		font-size:2.3rem;
	}
	
	span{
		font-size:1.3rem;
	}
	
	.polaroid-parent {
		width: 350px;
		height: 350px;
	}
}
/*
@media(max-width: 640px) {
	li{
		justify-content: center;
	}
}
*/
@media(max-width: 500px) {
	/* Make the image bigger */
	.polaroid-parent {
		width: 70vw;
		height: 70vw;
		
	}
	
	#choices {
		flex-direction: column;
	}
	
	
	
	.full-page-container{
		padding: 0 1.5rem
	}
	h1{
		font-size:2rem;
	}
	
	span{
		font-size:1rem;
	}
	
	/* move the homepage container down */
	#homepage-question{
		margin-top: 3.5rem;
	}
}
